.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    padding: 0.5em;
    color: white;
}

.doc {
    font-size: 1em;
}

#control {
    border: 1px dotted gray;
}

#control button {
    margin: 0.5em;
    height: 2em;
}

#control label {
    margin-right: 0.5em;
}

#control select {
    height: 2em;
}

#footer a {
    font-family: monospace;
}